/* Global font ve yazı stilleri */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --white-color: #fff;
  --black-color: #171010;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  background: #fff;
  font-family: 'Lato', sans-serif;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
